{% extends "dashboard/dashboard.html" %}
{% block title %}Manager Dashboard{% endblock title %}
{% block task %}

{% comment %} Task Table {% endcomment %}
<div class="bg-white rounded-xl shadow-sm">
    <div>
        {% if messages %}
            {% for message in messages %}
                <div class="px-2 py-1 {% if message.tags == 'success' %} bg-green-500 {% endif %}">{{ message }}</li>
            {% endfor %}
        {% endif %}
    </div>
    <div class="hidden md:grid grid-cols-5 p-4 gap-4 border-b border-gray-100 text-sm text-gray-500">
        <div>TASK TITLE</div>
        <div>PRIORITY</div>
        <div>TEAM</div>
        <div>CREATED AT</div>
        <div>ACTIONS</div>
    </div>
    <!-- Task Items -->
    <div class="divide-y divide-gray-100">
        {% for task in tasks %}
        <div class="grid grid-cols-1 md:grid-cols-5 p-4 gap-4 items-center">
            <div class="flex justify-between items-center">
                <span class="text-sm text-gray-500 md:hidden">TASK TITLE</span>
                <div class="flex items-center gap-2">
                    <div class="w-2 h-2 bg-green-500 rounded-full"></div>
                    <div>
                        <span>{{task.title}}</span>
                    </div>
                </div>
            </div>
            <div class="flex justify-between items-center">
                <span class="text-sm text-gray-500 md:hidden">PRIORITY</span>
                <span class="px-3 py-1 rounded-full {% if task.details.priority == 'L' %}bg-blue-50 text-blue-600 {% elif task.details.priority == 'H' %} bg-red-50 text-red-600 {% else %} bg-gray-50 text-gray-600 {% endif %} ">
                    {{task.details.get_priority_display}}
                </span>
            </div>
            <div class="flex justify-between items-center">
                <span class="text-sm text-gray-500 md:hidden">TEAM</span>
                <div class="flex -space-x-2">
                    {% for emp in task.assigned_to.all %}
                    <div
                        class="w-8 h-8 rounded-full bg-blue-500 flex items-center justify-center text-white text-sm border-2 border-white">
                        {{emp.name|slice:":2"|upper}}
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="flex justify-between items-center">
                <span class="text-sm text-gray-500 md:hidden">CREATED AT</span>
                <span class="text-gray-500">{{task.created_at|timesince}}</span>
            </div>
            <div class="flex justify-between items-center">
                <span class="text-sm text-gray-500 md:hidden">ACTIONS</span>
                <div class="flex gap-2">
                    <a href="{% url "update-task" task.id %}" class="px-3 py-2 bg-rose-600 text-white rounded-md">Edit</a>
                    <form action="{% url "delete-task" task.id %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="px-3 py-2 bg-rose-900 text-white rounded-md">Delete</button>
                    </form>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock task %}